body {
    background-image: url('flight.jpg'); /* Source: iStockPhoto */
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #000000AA;
    opacity: 0.9;
    color: #fff;
    padding: 10px;
}

.first {
    margin-top: 100px;
}

.row {
	margin-left: 0;
}

h5 {
    color: #999999;
}

section {
    margin-bottom: 15px;
}

.div-border {
    border: white;
    border-style: inset;
}

.field {
    font-weight: bold;
    color: white;
    text-align: right;
}

.topbottombar {
    text-decoration: underline overline;
}

.field-value {
    color: #0e7fa8;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
}

.small {
    font-size: medium;
}

label.form {
    font-size: 20px;
    margin-right: 20px;
}
input {
    margin-right: 30px;
}